html{
	--p1:#2d3342;
	--p2:#565c6d;
	--p3:#040c1b;
	--c1:#ff0066;
	--c2:#800033;
	--c3:#40001a;
	--c4:#e6005c;
	--c5:#c5003c;
	--green: #41bf50;
	--green2:#8bcc3b;
	--yellow:#fef900;
	--orange:#f59740;
	--lighblue:#69f8ff;
	--blue:#0040b0;
	--darkblue:#1f0f57;
	--gx: linear-gradient(220deg,var(--p3),var(--c5));
	--g1: linear-gradient(220deg,var(--darkblue),var(--c5));
	--g2: linear-gradient(220deg,var(--orange),var(--c5));
	--g3: linear-gradient(220deg, var(--c1), var(--yellow));
	--g4: linear-gradient(220deg, var(--p1), var(--p3));
	--g5: linear-gradient(90deg, var(--c5) , var(--orange));
	--block-h: 30vh;
}


@font-face {
	font-family:"Tomorrow";
	src:url("../../static/fonts/Tomorrow-Regular.woff2") format("woff2"),
	url("../../static/fonts/Tomorrow-Regular.woff") format("woff"),
	url("../../static/fonts/Tomorrow-Regular.ttf") format("opentype");
	font-style:normal;
	font-weight:400;
}
@font-face {
    font-family: 'hudson';
    src: url('../../static/fonts/HudsonNY.woff2') format('woff2'),
		 url('../../static/fonts/HudsonNY.woff') format('woff');
	font-style:normal;
	font-weight:600;

}
body{
	background: var(--gx);
	background-attachment: fixed;
	margin: 0;
	font-family:"Tomorrow";
	line-height: 1.5;

}
.box:hover .box__glitch{
  display: block;
  animation: glitch-animation 1s linear 0s infinite;
}

:root{
	--boxColor: var(--p1);
	--boxHover:var(--lighblue)
}
.center{
	text-align: center;
	padding: 32px 0 0;
}
.box__glitch {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--boxColor);
	  filter: drop-shadow(-2px 3px #67e3f3) drop-shadow(-1px -3px #02d8f3) drop-shadow(2px 1px #02d8f3);
  }

h1{
	text-transform: uppercase;
}
.box{
	font-family:"Tomorrow";
	position: relative;
	min-width: 20%;
	.header{
		font-size: 12px;
		background: var(--boxColor);
		display: inline-block;
		color:var(--p3);
		padding: 2px 16px 1px 2px;
		clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 100%, 0% 100%);
		transition: all 300ms ease-in-out ;
		vertical-align: bottom;
		span {
			padding: 0px 2px;
			background: var(--p3);
			color:var(--boxColor);
		}
	}
	&:hover{
		h3{
			//letter-spacing: 1px;
			text-shadow: 0 0 1px;
			color:var(--boxHover);
		}
		.header, hr{
			background: var(--boxHover);
		}
		.tags span,span{
			color:var(--boxHover);
		}
	}
	hr{
		display: inline-block;
		width: 64px;
		height: 4px;
		border: 0;
		vertical-align: inherit;
		position: relative;
		background-color: var(--boxColor);
		clip-path: polygon(0 0, calc(100% - 2px) 0%, 100% 100%, 0% 100%);
		left: -2px;
		transition: all 300ms ease-in-out ;
		vertical-align: bottom;
		margin: 0;
	}
	h3{
		margin-top: 0;
		margin-bottom: 16px;
		font-size: 24px;
		transition: all 300ms ease-in-out;
		color: #fff;
	}
	.box-wrapper{
		clip-path: polygon(0 0,100% 0,100% calc(100% - 16px),calc(100% - 16px) 100%,0 100%);
		background: var(--boxColor);
		padding: 16px;
		transition: all 800ms ease-in-out ;
		border-radius: 0 4px 0px 4px;
	}
	.tags{
		font-size: 14px;
		font-family: Tomorrow, sans-serif;
		span{
			padding: 2px 8px 2px 4px;
			background: var(--p2);
			margin: 0 4px;
			clip-path: polygon(0 0,100% 0,100% calc(100% - 8px),calc(100% - 8px) 100%,0 100%);
			color:#fff;
		}
	}
}
.wrapper{
	display: flex;
	max-width: 1400px;
	grid-gap: 24px;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto;
	& > *{
		flex:1;
	}
}
section{
	padding: 128px 0;
	background:var(--p3);
	margin-top: 32px;
	clip-path: polygon(0px 0px, 25% 0px, calc(25% + 15px) 15px, calc(75% - 15px) 15px, 75% 0px, 100% 0px, 100% 100%, 60% 100%, calc(60% - 20px) calc(100% - 20px), calc(40% + 20px) calc(100% - 20px), 40% 100%, 0px 100%);
	h2{
		text-align: center;
		color:#fff;
		margin-top: 0;
		font-size: 64px;
		margin-bottom: 64px;
		margin-top: -48px;
		font-family: 'hudson';
	}
}
header{
	text-align: center;
}

.yellow{
	color: var(--yellow);
}
.blue{
	color: var(--blue-color);
}


.stacks{
	background: var(--g4);
	color:#fff;
	border-radius: 6px;
	text-align: center;
	padding: 26px 0;
	transition: all 200ms ease-in-out;
	clip-path: polygon(0 0,25% 0,calc(25% + 9px) 9px,calc(75% - 9px) 9px,75% 0,100% 0,100% 100%,60% 100%,calc(60% - 8px) calc(100% - 8px),calc(40% + 8px) calc(100% - 8px),40% 100%,0 100%);
	box-shadow:
	0 0px 0px 0px inset var(--c5), 0 0 0px 0px var(--p3) inset,0 -28px 50px var(--c3) inset;
	img{
		width: 48px !important;
		height: 48px !important;
	}
}
.stacks:hover {
	box-shadow:
	0 1px 0px 10px inset var(--c5), 0 0 9px 19px var(--p3) inset,0 -40px 50px var(--c3) inset
}

ul{
	padding: 0;
	li{
		list-style: none;
		
	}
}


.titleIn{
	clip-path: polygon(0% 0%, 200% 0%, 0% 200%);
	animation-name: titleIn;
	animation-duration: 2000ms;
animation-delay: 0ms;
animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
animation-fill-mode: backwards;
}

@keyframes titleIn {
	0% {
		clip-path: polygon(0% 0%, 0% 0%, 0% 0%);
	}
	100% {
		clip-path: polygon(0% 0%, 200% 0%, 0% 200%);
	}
	0% {
		clip-path: polygon(0% 0%, 0% 0%, 0% 0%);
	}
	100% {
		clip-path: polygon(0% 0%, 200% 0%, 0% 200%);
	}
}