{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true,
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "react/jsx-filename-extension": [0],
    "react/prop-types": [0],
    "react/jsx-one-expression-per-line": [0],
    "react/jsx-wrap-multilines": [0],
    "react/jsx-curly-newline": [0]
  },
  "parser": "babel-eslint"
}
